#c2{
    
    width:fit-content;
   font-style:normal; 
   border-color: brown;
   border-width: 3px;
   border-radius: 20px;
   border-style: ridge;
   font-size: 20px;
}
#c1{
    color: #bd5734;

}
#c3{
    margin-left: 23px;
}
#c4{
    
    width:fit-content;
    margin-left: 10px;
    
}

#c5{
    
    top:700px;
    font-size: 30px;
    color: #bd5734;


}

#c6{
   
   border-color: brown;
   border-width: 3px;
   border-radius: 20px;
   border-style: ridge;
   font-size: 20px;
   top:420px;
}
#c7{
    margin-left:20px;
}
#c8{
   font-size: 20px;
   color: #bd5734;
}
.c1{
    font-family: 'Roboto';
}
#xy{
    display: flex;

}

#button5
{
    background-color: #bd5734;
    opacity: 1;
    border-radius: 10px;
    color: whitesmoke;
    height: 50px;
    width: auto;
    margin-left: 650px;
    font-size: 20px;
    cursor: pointer;
}
